<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<table border="1" align="center">
    <p align="center">MySQL学生信息表</p>
    <thead>
    <tr>
        <th>id</th>
        <th>commit_date</th>
        <th>committer_id</th>

    </tr>
    </thead>


    <tbody>
<!--    <tr th:each="commits,stat:${commitsList}">-->

<!--        <td th:text="${commits.id}"></td>-->
<!--        <td th:text="${commits.commit_date}"></td>-->
<!--        <td th:text="${commits.committer_id}"></td>-->

    </tr>
    </tbody>
</table>
</body>
</html>
